In [1]:
import re
from tqdm import tqdm
import numpy as np
import pandas as pd

with open('big.txt' , 'r') as fd:
    lines = fd.readlines()
    words = []
    for word in lines:
        words += re.findall('\w+' , word.lower())

# Finding the Pairs

In [2]:
def get_pairs(words , n):

    n=n+1
    data = []
    for i in range(len(words) - n):
        data.append(' '.join(words[i:i+n]))
    return data

# Finding Occurence Probabilities

In [3]:
def get_prob_dist(data):
    
    a = np.array(data)
    
    pair , count = np.unique(a, return_counts = True)
    unique_pairs = list(set(data))
    
    
    probability_dist = []
    
    for i in range(len(unique_pairs)):
        probability_dist.append([unique_pairs[i]  , ' '.join(unique_pairs[i].split(' ')[:-1])  , unique_pairs[i].split(' ')[-1] , count[i]])

    return probability_dist

In [4]:
data = get_pairs(words , 3)
probability_dist = get_prob_dist(data)

# Predicting the Word

In [5]:
df = pd.DataFrame(probability_dist , columns = ['seq' , 'inp' , 'out' , 'freq'])
df.head()

,seq,inp,out,freq
0,mckinley tariff bill of,mckinley tariff bill,of,1
1,mental reservation the absence,mental reservation the,absence,1
2,progress business enterprise under,progress business enterprise,under,1
3,thought that i did,thought that i,did,1
4,case of a refusal,case of a,refusal,1

In [6]:
df[df['freq'] >= 5]

                               seq                 inp        out  freq
489              that the lumen of      that the lumen         of     5
766        tolstoy s adjutant came  tolstoy s adjutant       came     5
4078               the fear of her         the fear of        her     5
10257    blood vessels and natural   blood vessels and    natural    10
10565          i must have singers         i must have    singers    13
...                            ...                 ...        ...   ...
1028606              to kill me me          to kill me         me     5
1029661     himself with a sinking      himself with a    sinking     5
1029916        from which came the     from which came        the     5
1029921     citizens had the right    citizens had the      right     5
1030131      is no great deduction         is no great  deduction     5

[3656 rows x 4 columns]

In [8]:
word = 'the scenes of'
df[df['inp'] == word]

                            seq            inp        out  freq
514024  the scenes of happiness  the scenes of  happiness     1

def predict(word):

    if len(df[df['inp'] == word]):
        df_ = df[df['inp'] == word]
        return df_.sort_values(by = 'freq').head()['out'].values
    else:
        print('Seq is not present')

- Prediction for one word

In [13]:
predict('this is lovely')

Seq is not present

In [14]:
predict('this is a')

array(['convenient', 'point', 'great', 'pleasure', 'monster'],
      dtype=object)

- Prediction with auto sequencing

In [18]:
def pred_seq(seq,n):

    output = []
    output.append(seq)

    for i in range(n):

        pred = predict(seq)
        seq = ' '.join(seq.split(' ')[1:]) + ' ' + pred[0]
        output.append(pred[0])
        
    return ' '.join(output)
    
pred_seq('the united states', 50)

'the united states once had to float down to new orleans was cut to eight days _differential diagnosis _ the conditions most likely to affect their safety and happiness here was the prelude to the historic drama of democracy a challenge to every form of written word how widespread was this potent though'

In [17]:
pred_seq('this is a',50)

'this is a convenient term to apply to it the count had valuable gobelin tapestries and persian carpets in the house it is a subcutaneous naevus with involvement of the different codes and that is always exciting especially to the young woman clutching at her neck and a star on the breast and'